

.v-100 {

	width: 100vw;
	height: 100%;
}

.con {

	background: #63cfbb;

}

.pop {

	font-family: poppins, sans-serif;

}

.popb {

	font-family: poppins, sans-serif;
	font-weight: 600;

}

.main {

	height: 100vh;

}

.square {

	background: #d9fbca;
	height: 70vh;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.up {

	height: 35vh;
	align-items: center;

}

.down {

	height: 35vh;
	align-items: center;

}

.numbers {

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;

}

@media(max-width: 1200px){

	.numbers
	{
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 5px;
	}

}

.number {

	padding: 2vw;
	text-align: center;
	border-radius: 5px;

}

.buttons
{

	padding: 10px;

}

.bg-number
{

	background: #13795b;

}

.bi-instagram
{

	font-size: 25px;

}